.btnContainer{
    text-align: center;
    margin: 10px;
}



/* Media queries */
@media(max-width: 500px){
    .btnContainer{
        margin: auto;
    }

    .home-slider{
        height: 300px;
    }
}